<div class='body lg:p-8 lg:m-8 m-3 p-4 h-auto flex flex-col'>
    <h1 class="font-bold lg:text-3xl m-4 text-2xl heading self-center">WRITE TO US ON: </h1>
    <p class="self-center mx-4 my-4 text-xl">anifestranchi@gmail.com</p>
    <h1 class="font-bold lg:text-3xl m-4 text-2xl heading self-center">CONNECT WITH US ON: </h1>
    <div class="h-auto flex flex-col justify-start'">
        <div class="socials flex flex-col lg:flex-row flex-wrap justify-center my-4 w-auto self-center">
            <button class="m-8 flex flex-row justify-start" (click)="routeToUrl('Instagram')">
                <img class="title" class="w-12 hover:scale-125" src="../../../assets/images/Instagram.png" alt="">
                <p class="self-center mx-4 text-xl">Instagram</p>
            </button>
            <button class="m-8 flex flex-row justify-start" (click)="routeToUrl('YouTube')"><img class="title"
                    class="w-12 hover:scale-125" src="../../../assets/images/Youtube icon.png" alt="">
                <p class="self-center mx-4 text-xl">YouTube</p>
            </button>
            <button class="m-8 flex flex-row justify-start" (click)="routeToUrl('Discord')"><img class="title"
                    class="w-12 hover:scale-125" src="../../../assets/images/Discord icon.png" alt="">
                <p class="self-center mx-4 text-xl">Discord</p>
            </button>
            <button class="m-8 flex flex-row justify-start" (click)="routeToUrl('WhatsApp')"><img class="title"
                    class="w-12 hover:scale-125" src="../../../assets/images/Whatsapp icon.png" alt="">
                <p class="self-center mx-4 text-xl">WhatsApp</p>
            </button>
            <button class="m-8 flex flex-row justify-start" (click)="routeToUrl('Telegram')"><img class="title"
                class="w-12 hover:scale-125" src="../../../assets/images/Telegram icon.png" alt="">
            <p class="self-center mx-4 text-xl">Telegram</p>
        </button>
        </div>
    </div>
</div>