<div class="bg-black w-screen h-auto grid border-t py-8">

  <img src="../../../assets/images/whatso.png" class="mt-2 justify-self-center" alt="" width="600" />


  <ul class="flex lg:flex-row flex-col h-auto justify-self-center mt-4">
    <li class="tab flex justify-center" [ngClass]="{
            'active': index===1,
            'inactive': index!==1
          }">
      <button class="text-wrap text-xl inline-block py-3 px-8 text-white  font-semibold"
        (click)="index=1">Guests</button>
    </li>
    <li class="tab flex justify-center" [ngClass]="{
            'active': index===2,
            'inactive': index!==2
          }">
      <button class="text-wrap text-xl inline-block py-3 px-8 text-white font-semibold"
        (click)="index=2">Experiences</button>
    </li>
    <li class="tab flex justify-center" [ngClass]="{
            'active': index===3,
            'inactive': index!==3
          }">
      <button class="text-wrap text-xl inline-block py-3 px-8 text-white  font-semibold"
        (click)="index=3">Schedule</button>
    </li>
    <li class="tab flex justify-center" [ngClass]="{
            'active': index===4,
            'inactive': index!==4
          }">
      <button class="text-wrap text-xl inline-block py-3 px-8 text-white font-semibold" (click)="index=4">Event
        Sponsors</button>
    </li>
  </ul>


  <app-guests @myInsertRemoveTrigger *ngIf="index===1"></app-guests>
  <app-experiences @myInsertRemoveTrigger *ngIf="index===2"></app-experiences>
  <app-sponsors @myInsertRemoveTrigger *ngIf="index===4"></app-sponsors>
  <app-schedule @myInsertRemoveTrigger *ngIf="index===3"></app-schedule>

</div>