<section myInsertRemoveTrigger *ngIf="data==='book'"
    class="book section  lg:mx-12 lg:my-4 flex lg:flex-row flex-col lg:p-8 px-2 py-4 justify-center max-h-fit">
    <div class="grid lg:w-3/6">
        <img src="../../../assets/images/logo.png" class="justify-self-center lg:scale-125 self-start lg:w-60 w-80"
            alt="" />
        <img src="../../../assets/images/tag.png" class="justify-self-center lg:scale-125 self-end lg:w-80" alt="" />
        <!-- <p class="text-white text-wrap mb-2">scroll through the box to see passes and book!</p> -->

        <div class="lg:flex hidden flex-row self-center justify-self-center z-50 mt-10">
            <p class="text-white text-wrap self-center">Also, You Can Book Your Hotel Stay From Here!</p>
            <button type="button" (click)="goToUrl(hotelurl)"
                class="lg:mt-auto self-center text-black w-auto text-s bg-white lg:hover:bg-black lg:hover:text-white shadow-md rounded-md font-medium shadow-cyan-500 px-2 py-1 text-center mx-3">
                Book Hotel
            </button>
        </div>


    </div>
    <div class="flex lg:w-3/6 lg:h-auto lg:justify-start justify-center h-screen iframe-container">
        <iframe id="ts-iframe" src="https://www.townscript.com/v2/widget/anifest-303310/booking" frameborder="0"
            class="iframe lg:w-4/5 w-11/12 bg-white"></iframe>
        <!-- <link rel="stylesheet" href="https://www.townscript.com/static/Bookingflow/css/ts-iframe.style.css" (load)="iframeLoaded = true"> -->
        
    </div>
    <div class="lg:hidden flex flex-row self-center justify-self-center z-50 mt-10 mb-2">
        <p class="text-white text-wrap self-center">Also, You Can Book Your Hotel Stay From Here!</p>
        <button type="button" (click)="goToUrl(hotelurl)"
            class="lg:mt-auto self-center text-black w-52 text-s bg-white lg:hover:bg-black lg:hover:text-white shadow-md rounded-md font-medium shadow-cyan-500 px-2 py-2 text-center mx-3">
            Book Hotel
        </button>
    </div>
</section>

<app-event-details *ngIf="data==='book'"></app-event-details>


<section *ngIf="data==='register'"
    class="register section lg:mx-12 mx-3 my-4 flex flex-col lg:p-8 px-2 py-4 justify-center lg:justify-start h-auto mb-14">
    <h1 class="font-extrabold text-white text-wrap lg:text-6xl text-5xl p-4 text-center">BGMI Tournament Ranchi!</h1>
    <div class="flex flex-col w-4/5 self-center justify-around min-h-96">
        <div class="flex flex-col self-center">
            <p class="lg:block text-white text-wrap mt-4 text-2xl">Calling all chicken dinner contenders!🪂</p>
            <p class="lg:block text-white text-wrap mt-4 text-2xl">Anifest is dropping a HUGE BGMI tournament! </p>
            <p class="hidden lg:block text-white text-wrap mt-4 text-2xl">Squad up, sharpen your thumbs, and claim your
                crown
                for
                bragging rights + upto 50,000 in prize pool!*</p>
            <p class="lg:block text-white text-wrap mt-4 text-2xl mb-10">Veterans & rookies welcome! This is your chance
                to
                shine!
                ✨</p>
        </div>

        <div class="flex flex-col self-center justify-between">




            <button type="button" (click)="goToUrl(formUrl)"
                class="lg:my-6 mb-16 self-center text-white w-max text-3xl bg-gradient-to-r from-red-400 via-red-500 to-red-600 lg:hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-800 shadow-lg shadow-red-800/80 font-medium rounded-lg px-5 py-2.5 text-center me-2 lg:ml-6">Register
                Now!</button>

            <p class="flex flex-col lg:block text-white text-wrap lg:mt-10 mb-5 text-2xl">*Please Read the Rule Book
                Before
                Registering!<button type="button" (click)="goToUrl(driveUrl)"
                    class="lg:mt-auto mt-10 self-center text-black w-max text-base bg-white lg:hover:bg-black lg:hover:text-white focus:ring-4 focus:outline-none focus:ring-red-800 shadow-lg shadow-red-800/80 font-medium rounded-lg px-5 py-2.5 text-center me-2 lg:mb-2 lg:ml-3">
                    Rule Book
                </button> </p>
        </div>


    </div>
</section>