.section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: black;
}

.book{
    background-color: rgba(30,30,30,255) !important;
    background-image: url("../../../assets/images/4826101.webp");
}

.register{
    background-image: url("../../../assets/images/Dark.webp");
}

h1{
    //font-family: 'Rubik', sans-serif;
    font-family: 'Poppins', sans-serif;
    //text-align: center;
    line-height: 3.5rem;
}

p{
    //font-family: 'Rubik', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

@media (min-width: 1024px) {
    h1{
        //text-align: center;
        margin-bottom: 2rem;
        line-height: 5rem;
    } 
    p{
        text-align: center;
        
    }
    .book-ticket{
        padding-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .section {
        //min-height: auto;
        min-height: 42rem;
    }
}