.section{
    background-image: url("../../../assets/images/4826101.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    //background-color: black;
    
}

h1{
    //font-family: 'Rubik', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

p{
    //font-family: 'Rubik', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

@media (min-width: 1024px) {
    h1{
        text-align: end;
        margin-bottom: 2rem;
    } 
}

@media (min-width: 1024px) {
    .section {
        //min-height: auto;
        height: 42rem;
    }
}