<section
    class="section rounded-2xl lg:mx-12 mx-3 my-2 flex lg:flex-row flex-col lg:p-8 px-2 py-4 justify-center h-auto">
    <div class=" flex flex-col self-center lg:w-3/6 mx-4 mb-4 lg:mx-auto ">
        <div class="lg:w-4/6 lg:self-end">
            <h1 class="font-extrabold text-white text-wrap lg:text-6xl text-5xl">The Biggest Anime
                Event in Jharkhand Ever!</h1>
            <p class="hidden lg:block text-white text-wrap mt-4 text-xl">Attention, Animania! Mark your calendars, for
                Anifest Jharkhand, Ranchi's premier anime collective, is gearing up to host the colossal event you've
                been waiting for: the Jharkhand Anime Fan Fest!</p>
            <p class="text-white text-wrap mt-4 text-xl">Book Your Tickets Now!</p>
        </div>
    </div>
    <div class="flex justify-center lg:w-3/6 lg:h-auto h-screen">
        <iframe id="ts-iframe" src="https://www.townscript.com/v2/widget/anifest-303310/booking" frameborder="0"
            class="iframe rounded-2xl h-auto" width="80%"></iframe>
        <link rel="stylesheet" href="https://www.townscript.com/static/Bookingflow/css/ts-iframe.style.css">
    </div>
</section>