.body {
    //background-color: grey;
    background-color: rgba(30,30,30,255) !important;
    color: white;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    color: #FFA500;
}
ul {
    list-style-type: none;
    padding: 0;
}
p{
    font-size: large;
    font-weight: 400;
    margin: 1rem 0;
}