<!-- <section class="hero_section">
    <div class="mx-auto flex lg:flex-row flex-col p-10 justify-center">
        <div class=" flex flex-col self-center">
            <h1 class="text-white text-wrap text-5xl">The Biggest Anime
                Event in Ranchi Ever!</h1>
            <p class="">From checkout to
                global sales tax compliance, companies around the world use Flowbite to simplify their payment
                stack.</p>
        </div>
        <div class="lg:justify-end flex justify-center">
            <iframe id="ts-iframe" src="https://www.townscript.com/v2/widget/anifest-431122/booking"
                frameborder="0" height="600" width="80%" class="iframe"></iframe>
            <link rel="stylesheet" href="https://www.townscript.com/static/Bookingflow/css/ts-iframe.style.css">
        </div>
    </div>
</section> -->
<div class="hero-section justify-center flex lg:flex xl:flex">
    <img class="hero-background" src="../../../assets/images/sas3.png" alt="Hero Background Image">
</div>
<app-events></app-events>