@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.hero-section {
  width: 100%;
  min-height: 38rem;
  overflow: hidden;
}

.hero-background {
  top: 0;
  left: 0;
  height: 100%;
  object-fit:contain;
}

h1{
    //font-family: '', cursive;
    line-height: 5rem !important;
}

.iframe{
  border-radius: 20px; 
}