.hero-section {
  position: relative;
  width: 100%;
  min-height: 32rem;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .hero-section {
    position: relative;
    width: 100%;
    min-height: 40rem;
    overflow: hidden;
  }
  
}

.full_h{
  height: -webkit-fill-available;
}

.hero-background {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit:cover;
}