<div class="mb-2 mt-10 text-white experiences grid">
    <ul class="w-4/5 justify-self-center">
        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/convention.webp" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">All Things Convention</h3>
                <p class="text-center lg:text-left">
                    Dive into a whirlwind of awesome activities! Experience mind-blowing panels with
                    industry experts, and explore a treasure trove of merchandise stalls to fuel your fandom. Plus,
                    meet
                    and
                    chat with the creative masterminds behind your favorite pop culture worlds!
                </p>
            </div>

        </li>
        <br>
        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/pop.webp" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">Pop Culture Extravaganza</h3>
                <p class="text-center lg:text-left">Unleash your inner geek! Celebrate everything from comics and
                    graphic novels to
                    anime, manga, fantasy, video games, tabletop adventures, and of course, incredible cosplay! Let
                    your
                    fandom flag fly!</p>
            </div>
        </li>
        <br>
        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/kareokegirl.jpeg" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">Experience Live Kareoke</h3>
                <p class="text-center lg:text-left">Get ready to experience live japanese karaoke from talented
                    artists for the first time in Ranchi </p>
            </div>
        </li>
        <br>
        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/knowledge.webp" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">Level Up Your Knowledge</h3>
                <p class="text-center lg:text-left">Deepen your pop culture expertise with engaging panel
                    discussions,
                    insightful workshops, and Q&A sessions featuring the latest trends and insider secrets.</p>
            </div>
        </li>
        <br>
        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/cosplay.webp" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">Cosplay Contest</h3>
                <p class="text-center lg:text-left">Unleash your inner artist! Showcase your amazing cosplay
                    creations and strut your
                    stuff in our thrilling cosplay contests!</p>
            </div>
        </li>
        <br>
        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/stars.webp" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">Meet & Greet with Your Favourite Celebrities</h3>
                <p class="text-center lg:text-left">Anifest welcomes celebrity guests
                    from the entertainment industry, including legendary voice actors, popular anime YouTubers, and
                    other
                    influential figures.</p>
            </div>
        </li>
        <br>
        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/bgmi.webp" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">BGMI Competition</h3>
                <p class="text-center lg:text-left"> Experience the hottest video games and compete in
                    heart-pounding
                    legendary BGMI Gaming Tournament. May the best gamer win!</p>
            </div>
        </li>
        <br>

        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/virtual.webp" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">Dive Into the World of Virtual Reality</h3>
                <p class="text-center lg:text-left">Dive into mind-bending virtual reality experiences and discover
                    a world of interactive fun in our dedicated zones.</p>
            </div>
        </li>
        <br>
        <li class="my-2 flex lg:flex-row flex-col items-center">
            <div class="lg:w-2/6 mb-10 lg:mb-0 flex justify-center">
                <img src="../../../assets/images/Shop.webp" class="image" alt="" width="250" />
            </div>
            <div class="flex flex-col lg:w-4/6 justify-center">
                <h3 class="mb-2 text-center lg:text-left">Shop Like a Pro</h3>
                <p class="text-center lg:text-left"> Explore a vast universe of exhibitor stalls overflowing
                    with comics, graphic novels, collectibles, mouthwatering Japanese food, and everything your pop
                    culture
                    heart desires.</p>

            </div>
        </li>
        <br>
    </ul>

</div>