.nav{
    background-color: transparent;
}

.title{
    width:200px
}

@media (min-width: 1024px) {
    .title {
        width: 600px;
    }
}

.hamburg{
    background-image: url("../../../assets/images/4826101.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    //background-color: black;
    
}