<div class="p-2 lg:py-0 lg:px-3 fixed-top w-full lg:min-h-16 bg-yellow-400 border-t border-b flex flex-wrap lg:flex-row flex-col content-center justify-center">
  <p class="text-center lg:text-xl font-semibold text-black self-center">Get Flat<span class="font-extrabold"> ₹100 Off </span>With Coupon Code:<span class="font-extrabold"> ARISE100 | NARUTO100 | SENPAI100 </span> <br>
  Hurry Offer Ends Soon!</p>
  <!-- <app-timer class="lg:ml-2 self-center mt-2 lg:mt-0"></app-timer> -->
</div>
<nav class="nav relative mt-0 lg:pt-4 lg:pb-4 lg:mt-12">
  <div class="flex flex-row lg:justify-around justify-between items-center lg:mx-8 h-20 lg:py-2">
    <div class="hidden m-1 lg:flex lg:flex-wow justify-around w-1/3">
      <button (click)="routeToUrl('/Home')" class="mr-8">
        <img class="lg:hover:scale-125" src="../../../assets/images/home.png" alt="" />
      </button>
      <button (click)="routeToUrl('/Events')" class="mr-8">
        <img class="lg:hover:scale-125" src="../../../assets/images/events.png" alt="" />
      </button>
      <button (click)="showregstration = !showregstration" class="">
        <img class="maw lg:hover:scale-125" src="../../../assets/images/registration.png" alt="" />
      </button>

      <div #targetDiv @myInsertRemoveTrigger *ngIf="showregstration"
        class="absolute target z-10 min-w-48 flex flex-col justify-center">

        <button (click)="routeToUrl('Volunteer')" class="self-end nav_button px-4 my-4 lg:hover:scale-105">
          <h2 class="text-white">Volunteer Registration</h2>
        </button>

        <button (click)="routeToUrl('Cosplay')" class="self-end nav_button px-4 my-4 lg:hover:scale-105">
          <h2 class="text-white">Cosplay Registration</h2>
        </button>

        <button (click)="routeToUrl('Workshop')" class="self-end nav_button px-4 my-4 lg:hover:scale-105">
          <h2 class="text-white">Cosplay Workshop</h2>
        </button>

        <button (click)="routeToUrl('Talent')" class="self-end nav_button px-4 my-4 lg:hover:scale-105">
          <h2 class="text-white">Anifest Got Talent</h2>
        </button>

        <button (click)="routeToUrl('Manga')" class="self-end nav_button px-4 my-4 lg:hover:scale-105">
          <h2 class="text-white">Manga Panel Competition</h2>
        </button>
      </div>
    </div>

    <button class="grid justify-items-center w-1/3 py-1">
      <img class="title self-center max-w-64 maw" src="../../../assets/images/anifest.png" (click)="routeToUrl('/Home')"
        alt="" />
    </button>

    <div class="socials m-1 hidden lg:flex lg:flex-row justify-end w-1/3">


      <button class="px-4" (click)="routeToUrl('Instagram')">
        <img class="title" class="w-12 lg:hover:scale-125" src="../../../assets/images/Instagram.png" alt="" />
      </button>
      <button class="px-4" (click)="routeToUrl('YouTube')">
        <img class="title" class="w-12 lg:hover:scale-125" src="../../../assets/images/x.png" alt="" />
      </button>
      <button class="px-4" (click)="routeToUrl('Discord')">
        <img class="title" class="w-12 lg:hover:scale-125" src="../../../assets/images/Discord icon.png" alt="" />
      </button>
    </div>

    <div
      class="hamburger inline-flex items-center p-2 w-14 h-14 justify-center text-sm rounded-lg lg:hidden focus:outline-none focus:ring-2 text-white"
      (click)="toggleMenu()">
      <div [class.open]="menuOpen" class="bar top-bar"></div>
      <div [class.open]="menuOpen" class="bar middle-bar"></div>
      <div [class.open]="menuOpen" class="bar bottom-bar"></div>
    </div>
  </div>
</nav>

<!-- Menu Items -->
<ul class="nav-links" [class.show]="menuOpen">
  <li><button class="ham-button" (click)="routeToUrl('/Home')">Home</button></li>
  <li><button class="ham-button" (click)="routeToUrl('/Events')">Events</button></li>
  <li><button class="ham-button" (click)="showregstrationMob=!showregstrationMob">Registration</button></li>
  <div *ngIf="showregstrationMob" class="bg-white p-4 subMenu">
    <li><button class="text-black font-extrabold text-xl" (click)="routeToUrl('Volunteer')">Volunteer Registration</button></li>
    <li><button class="text-black font-extrabold text-xl" (click)="routeToUrl('Cosplay')">Cosplay Registration</button></li>
    <li><button class="text-black font-extrabold text-xl" (click)="routeToUrl('Workshop')">Cosplay Workshop</button></li>
    <li><button class="text-black font-extrabold text-xl" (click)="routeToUrl('Talent')">Anifest Got Talent</button></li>
    <li><button class="text-black font-extrabold text-xl" (click)="routeToUrl('Manga')">Manga Panel Competition</button></li>
  </div>
  <li><button class="ham-button" (click)="routeToUrl('/Contact_Us')">Contact</button></li>
</ul>