<nav class="nav relative">
  <div class="cont justify-between items-center mx-auto lg:h-32">

    <div class="hidden m-1 lg:inline-flex justify-around">
      <button (click)="routeToUrl('/Home')" class="mr-8">
        <img class="maxw hover:scale-110" src="../../../assets/images/Comic Text Effect.png" alt="">
      </button>
      <button (click)="routeToUrl('/Events')" class="mr-8">
        <img class="maxw hover:scale-110" src="../../../assets/images/Comic (1) copy.png" alt="">
      </button>

      <div class="relative flex items-center">

        <button (click)="showregstration=!showregstration"  class="flex flex-row">
          <img class="maxw hover:scale-110" src="../../../assets/images/registration.png" alt="">
        </button>

        <div #targetDiv *ngIf="showregstration" class="absolute target z-10 min-w-52">
          <button (click)="routeToUrl('Cosplay')" class="self-end nav_button px-4 my-4 hover:scale-105">
            <h2 class="text-white">Cosplay Registration</h2>
          </button>

          <button  (click)="routeToUrl('Volunteer')" class="self-end nav_button px-4 my-4 hover:scale-105">
            <h2 class="text-white">Volunteer Registration</h2>
          </button>
        </div>

      </div>



    </div>
    <button (click)="routeToUrl('/Home')"><img class="title hover:scale-105 mx-3" src="../../../assets/images/Comic (1).png"
        alt=""></button>

    <div class="socials m-1 hidden lg:flex lg:flex-row justify-end">
      <button class="px-4" (click)="routeToUrl('Instagram')"><img class="title" class="w-12 hover:scale-125"
          src="../../../assets/images/Instagram.png" alt=""></button>
      <button class="px-4" (click)="routeToUrl('YouTube')"><img class="title" class="w-12 hover:scale-125"
          src="../../../assets/images/Youtube icon.png" alt=""></button>
      <button class="px-4" (click)="routeToUrl('Discord')"><img class="title" class="w-12 hover:scale-125"
          src="../../../assets/images/Discord icon.png" alt=""></button>
    </div>
    <button (click)="hamburgerClicked()" data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 w-14 h-14 justify-center text-sm rounded-lg lg:hidden focus:outline-none focus:ring-2 text-white"
      aria-controls="navbar-default" aria-expanded="false">
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
  </div>
</nav>
<div *ngIf="hamburgerOpen"
  class='hamburg lg:hidden h-auto w-full self-end absolute z-50 flex flex-col justify-start'>
  <button (click)="routeToUrl('/Home')" class="self-end nav_button px-4 my-4"><img class=""
      src="../../../assets/images/Comic Text Effect.png" alt="" width="100"></button>
  <button (click)="routeToUrl('/Events')" class="self-end nav_button px-4 my-4"><img class=""
      src="../../../assets/images/Comic (1) copy.png" alt="" width="120"></button>
  <button (click)="routeToUrl('Cosplay')" class="self-end nav_button px-4 my-4"><img class=""
      src="../../../assets/images/cosplay.png" alt="" width="340"></button>
  <button (click)="routeToUrl('Volunteer')" class="self-end nav_button px-4 my-4"><img class=""
      src="../../../assets/images/volunteer.png" alt="" width="350"></button>
  <div class="socials m-1 flex flex-row justify-start my-8 self-end">
    <button class="px-4" (click)="routeToUrl('Instagram')"><img class="title" class="w-12"
        src="../../../assets/images/Instagram.png" alt=""></button>
    <button class="px-4" (click)="routeToUrl('YouTube')"><img class="title" class="w-12"
        src="../../../assets/images/Youtube icon.png" alt=""></button>
    <button class="px-4" (click)="routeToUrl('Discord')"><img class="title" class="w-12"
        src="../../../assets/images/Discord icon.png" alt=""></button>
  </div>
</div>