<nav class="nav">
    <div class="max-w-screen-xl flex flex-wrap justify-around items-center mx-auto pl-4 pr-4">
        <a class="nav_button px-2"><img src="../../../assets/images/Comic Text Effect.png" alt="" width="90"></a>
        <a class="nav_button px-2"><img src="../../../assets/images/Comic (3).png" alt="" width="100"></a>
        <img src="../../../assets/images/Comic (1).png" width="600" alt="">
        <a class="nav_button px-2"><img src="../../../assets/images/Comic Text Effect.png" alt="" width="90"></a>
        <a class="nav_button px-2"><img src="../../../assets/images/Comic (3).png" alt="" width="100"></a>
        <!-- <a><h1 class="navbar-header">ANIFEST</h1></a> -->
        <!-- <button><a class="nav_button px-2">Contact Us</a></button>
        <button><a href="#" class="nav_button px-2">Book Tickets</a></button> -->
        <!-- <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-gray-800 md:bg-black border-gray-700">
                <li>
                    <a href="#"
                        class="block py-2 px-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Events</a>
                </li>
                <li>
                    <a href="#"
                        class="block py-2 px-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">About</a>
                </li>
                
                <li>
                    <a href="#"
                        class="block py-2 px-4 rounded md:border-0 md:hover:text-blue-700 md:p-0 text-white hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Contact</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>