.nav{
    background-color: transparent;
}

.title{
    width:200px
}

.cont{
    display: flex;
}


.maxw{
    max-width: 125%;
}

@media (min-width: 1024px) {
    .title {
        width: 600px;
        justify-self: center;
    }
    .cont{
        display: grid;
        grid-template-columns: 1fr auto 1fr
    }
}

.target{
    background-color: rgba(30,30,30,255) !important;
    top:85%;
    left: 6%;
}

.hamburg{

    background-color: rgba(30,30,30,255) !important;
    //background-image: url("../../../assets/images/blacky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    //background-color: black;

}