
.event-card{
    width: 332px;
    height: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
p{
    text-align: center;
}


@media (min-width:1024px){
    .event-card{
        width: 332px;
        height: auto;
    }
    .cardholder{
        width: 90%;
    }
}
.cardholder{
    width: 100vw;
}
.custom-shadow{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.custom-height{
    height: inherit;
}
