<div class="mt-4 flex flex-col justify-center items-center pl-4 pr-4 pb-12">
  <img src="../../../assets/images/Comic (3).png" class="mb-4" alt="" width="200" />
  <div class="flex flex-row flex-wrap justify-center lg:justify-between cardholder mr-4 ml-4">
    <ng-container *ngFor="let event of eventsArray">
      <div (click)="redirectToBooking(event)" [ngClass]="event?.status == 'Book Now' ? 'bg-white' : 'bg-gray-300'"
        class="event-card m-4 custom-shadow items-center p-1">
        <!-- <h2 class="text-black text-center">{{event?.name}}</h2> -->
        <h2 class="text-black text-2xl text-center pt-1 pl-1">
          {{ event?.name }}
        </h2>
        <p class="text-center pt-1 pl-1">{{ event?.descripton }}</p>
        <img class="object-cover h-44 w-11/12 pt-1 pl-1 rounded-2xl h-screen" src="{{ event.image_url }}" width="270" />
        <button [ngClass]="
            event?.status == 'Book Now'
              ? 'w-52 mt-4 text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900'
              : 'w-52 mt-4 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700'
          " type="button" (click)="redirectToBooking(event)">
          {{ event?.status }}
        </button>
      </div>
    </ng-container>
  </div>
</div>