<div class="h-auto lg:h-2/6  footer flex flex-col lg:flex-row lg:justify-between justify-start bottom-0">
    <div (click)="openPage('')" class="lg:w-1/4 flex flex-col justify-center items-center">
        <img class="lg:w-64 lg:hover:scale-125 my-8 lg:self-center mx-2 self-end w-80" src="../../../assets/images/Comic (1).png" width='200' alt="">
    </div>
    <div class="lg:w-2/4 flex lg:flex-col flex-col items-start flex-wrap lg:justify-center justify-around pl-14 lg:items-start mb-6">
        <button (click)="openPage('About_Us')" class="text-white lg:hover:text-gray-400 m-3">About Us</button>
        <button (click)="openPage('Terms_&_Conditions')" class="text-white lg:hover:text-gray-400 m-3">Terms & Conditions</button>
        <button (click)="openPage('Contact_Us')" class="text-white lg:hover:text-gray-400 m-3">Contact Us</button>
    </div>
</div>
