<div class="mb-2 mt-10 text-white experiences grid">
    <ul class="flex lg:flex-row flex-col lg:w-4/5 justify-self-center m-2 p-2">
        <!-- <li class="flex flex-col items-center lg:w-1/2">
            <div class="flex justify-center">
                <a href="https://www.instagram.com/vyuksuckatanime"><img src="../../../assets/images/vyuk2.jpg" class="image" alt="" width="300" /></a>
            </div>
            <div class="flex flex-col justify-center  my-12">
                <a href="https://www.instagram.com/vyuksuckatanime"><h3 class="text-center">Vyuk</h3></a>
                <p class="text-center mt-1 self-center lg:w-4/5">
                    Vyuk (VyukSuckKatAnime) is a YouTube personality known for his love of anime and engaging content. His channel features funny skits, anime reviews, and discussions about the latest shows. Don't let the name fool you, VyukSuckatAnime is a passionate anime fan ready to share his enthusiasm with the community!
                </p>
            </div>

        </li> -->
        
        <li class="flex flex-col items-center lg:w-1/2">
            <div class="flex justify-center">
                <a href="https://www.instagram.com/aishkhar"><img src="../../../assets/images/aishh1.jpg" class="image" alt="" width="300" /></a>
            </div>
            <div class="flex flex-col justify-center  my-12">
                <a href="https://www.instagram.com/aishkhar"><h3 class="text-center">Aish Kharbanda</h3></a>
                <p class="text-center self-center mt-1 lg:w-4/5">
                    Aish Kharbanda is a celebrated Instagram influencer and YouTube content creator known for his engaging anime-related content. With a passion for Japanese animation and pop culture, Aish has garnered a dedicated following, sharing insights, reviews, and discussions that resonate with anime enthusiasts worldwide.
                </p>
            </div>

        </li>
        <li class="flex flex-col items-center lg:w-1/2">
            <div class="flex justify-center">
                <a href="https://www.instagram.com/aishkhar"><img src="../../../assets/images/Anime Image.webp" class="image" alt="" width="300" /></a>
            </div>
            <div class="flex flex-col justify-center   my-12">
                <h3 class="text-center">AnimeTM Talks</h3>
                <p class="text-center">
                    AnimeTM Talks, helmed by Tarun Saini, is a prominent voice in the Indian anime community,
                    offering a rich blend of anime discussions, reviews, and insights. With a strong presence 
                    on YouTube and Instagram, AnimeTM Talks engages fans with diverse content, from top anime 
                    lists to in-depth cultural explorations.
                    His CHannel had a profound impact
                    by creating the renowned Hindi dub of the anime movie "YourName" in 2018.
                </p>
            </div>

        </li>
    </ul>

</div>